[%- SET repository_host = c.getval('repository_host') -%]
[% SET distro = '3TM' %]
[% IF c.getval('c_distro_release') %]
    [% SET distro = c.getval('c_distro_release') %]
[% END %]
[% IF c.getval('distro_symbolic_name') %]
    [% SET distro = c.getval('distro_symbolic_name') %]
[% END %]
[%- FOR repository = c.getvals('apt_repositories') -%]
rpm http://[% repository_host %]/apt redhat/[% distro %]/i386 [% repository %]
[%+ END -%]
