SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# run-parts
[%+ c.getval('vixie_cron_crontab_hourly')  +%] root run-parts /etc/cron.hourly
[%+ c.getval('vixie_cron_crontab_daily')   +%] root run-parts /etc/cron.daily
[%+ c.getval('vixie_cron_crontab_weekly')  +%] root run-parts /etc/cron.weekly
[%+ c.getval('vixie_cron_crontab_monthly') +%] root run-parts /etc/cron.monthly
