#
# managed by rubix
#
# consult your friendly neighborhood admin team for updates or additions
#
SHELL=/bin/bash
BASH_ENV=/[% c.getval('c_class') %]/shared/init/software.conf
PERL5LIB=/[% c.getval('c_class') %]/shared/conf/perl:/[% c.getval('c_class') %]/shared/lib/perl

[% FOREACH line = c.getvals('cron_jobs') %]
[% line %]
[%+ END -%]
