[%-
	SET include_header = c.getval('c_croot') _ "/includes/header/topper";
	INCLUDE $include_header
-%]
127.0.0.1	localhost
[%+ c.getval('c_ip_address') +%]	[%+ c.getval('c_hostname_s') +%] [%+ c.getval('c_hostname_f') +%]
[%+ FOREACH line = c.getvals('host_file_entries') %]
        [% line +%]
[%+ END %]

